.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3em;
    .top {
        display: flex;
        align-items: center;
    }
    .top > * {
        margin: 0em .6em;
    }
    .card {
        background-color: blue;
        color: white;
        width: 12em;
        height: 10em;
    }
}